{% extends "./layout/default.html"%}

{% block title%}发现{% endblock %}
{% block style%}
<link rel="stylesheet" href="../css/find.css">
{% endblock %}



{% block main %}
<div class="content">

    <div class="find">
        <div class="select-tools">
            <div class="select-switch"><span>默认排序<i class="fa fa-sort-desc"></i></span></div>
            <div class="select-switch"><span>地区<i class="fa fa-sort-desc"></i></span></div>
            <div class="select-switch"><span>类型<i class="fa fa-sort-desc"></i></span></div>
        </div>
    </div>

</div>


{% endblock %}

{% block script %}
<script src="../js/find.js"></script>
{% endblock %}