{% extends "./layout/default.html"%}

{% block title%}商城首页{% endblock %}
{% block style%}
<link rel="stylesheet" href="../css/index.css">
{% endblock %}



{% block main %}
    <div class="page-group">

        <div class="page page-current" id='index-default'>
            <div class="content">
                <!--tab-->
                <div id="tablist" class="buttons-tab center-tab">
                    <a href="#tab1" class="tab-link active button">热门</a>
                    <a href="#tab2" id="rank-indexbtn" class="tab-link button">排行</a>
                    <a href="javascript:" class="search search-open"><i class="fa fa-search"></i></a>
                    <div class="search-tools search-outside">
                        <input type="text" placeholder="请输入影片关键字">
                        <a href="#page-search" class="search btn search-btn">搜索</a>
                    </div>
                </div>

                
                <!--tab内容-->
                <div class="tabs">
                    
                    <!--热门-->
                    <div id="tab1" class="tab active">
                        {% include "./index/hot.html"%}
                    </div>

                    <!--排行-->
                    <div id="tab2" class="tab">
                        {% include "./index/ranking.html"%}
                    </div>
                    
                </div>
            
            </div>
            <!--{{home}}{%set home = "active"%}{{home}}-->
            {% include "./layout/navbar.html"%}
        </div>

        <!--搜索页面-->
        <div class="page" id='page-search'>
            {% include "./index/search.html"%}
        </div>


    </div>


{% endblock %}

{% block script %}
<script src="../js/index.js"></script>

{% endblock %}