{% extends "./layout/default.html"%}

{% block title%}商城首页{% endblock %}
{% block style%}
<link rel="stylesheet" href="../css/index.css">
{% endblock %}



{% block main %}
<div class="content-main">

    <!--tab-->
    <div class="buttons-tab center-tab">
        <a href="#tab1" class="tab-link active button">热门</a>
        <a href="#tab2" class="tab-link button">排行</a>
        <button type="button" class="icon icon-search"></button>
        <div class="search">
            <input type="text" placeholder="请输入影片关键字">
            <a href="#" class="search-btn">搜索</a>
        </div>
    </div>

    <!--tab内容-->
    <div class="tabs">
        <!--热门-->
        <div id="tab1" class="tab active">
            {% include "./index/hot.html"%}
        </div>

        <!--排行-->
        <div id="tab2" class="tab">
            {% include "./index/ranking.html"%}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../js/index.js"></script>
{% endblock %}