.withdraw,
.charge {
    bottom: 0;
    .bg-blue {
        background: #00BCD4;
    }
    .bg-red {
        background: #F36C60;
    }
    .top {
        color: white;
        padding: 0 rem(16px);
        font-size: rem(14px);
        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: rem(56px);
            .price {
                font-family: 'SFUIDisplay-Regular'
            }
        }
    }
    #withdrawInput {
        display: block;
        width: 100%;
        height: rem(56px);
        padding-left: rem(16px);
        border: 0;
        border-bottom: 1px #ddd solid;
        font-size: rem(14px);
    }
    .explain {
        font-size: rem(12px);
        color: $ui-color-dark2;
        padding: rem(16px);
    }
    .ok {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
        background: $ui-color-disabled;
        height: 48px;
        line-height: 48px;
        font-size: rem(14px);
        &.active {
            background: $ui-color;
        }
    }
    // 充值列表
    .chargelist {
        >li {
            &:last-of-type {
                & label:after {
                    left: 0;
                }
            }
        }
        label {
            display: block;
            font-size: rem(14px);
            overflow: hidden;
            width: 100%;
            height: rem(56px);
            line-height: rem(56px);
            padding-left: rem(14px);
            background: white;
            position: relative;
            i {
                position: absolute;
                right: rem(16px);
                top: rem(56px/2-10);
                color: $ui-color;
                display: none;
                font-size: rem(18px);
                font-weight: 100;
            }
        }
        input {
            display: none;
            &:checked+label {
                i {
                    display: block;
                }
            }
        }
    }
}