.qrcode {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .headerTools {
        position: absolute;
        top: 0;
        right: 0;
        left: rem(12px);
        z-index: 1;
    }
    .backgroundImages {
        filter: blur(10px);
        background: url('../images/qrcodeBackground.png') no-repeat center;
        background-size: cover;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .box {
        width: rem(264px);
        height: rem(382px);
        background: white;
        z-index: 1;
        position: relative;
        font-size: rem(12px);
        color: $ui-color-dark2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .info {
        transform: translateY(-30%);
        p {
            margin: 0;
            text-align: center;
        }
    }
    .qrcodebg {
        height: rem(144px);
        width: 100%;
    }
    .headpic {
        width: rem(60px);
        height: rem(60px);
        border-radius: 50%;
        border: 2px white solid;
        transform: translateY(-50%);
    }
    .code {
        width: rem(104px);
        height: rem(104px);
    }
}