<nav class="navbar bar bar-tab">
    <a class="tab-item external {{home}}" href="index.html">
        <span class="fa fa-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external {{find}}" href="find.html">
        <span class="fa fa-camera"></span>
        <span class="tab-label">发现</span>
    </a>
    <a class="tab-item external {{cart}}" href="#">
        <span class="fa fa-shopping-cart"></span>
        <span class="tab-label">购物车</span>
    </a>
    <a class="tab-item external {{user}}" href="#">
        <span class="fa fa-user"></span>
        <span class="tab-label">我的</span>
    </a>
</nav>