@import './layout/public.scss';
.content{
    bottom: 2.5rem;
}

.select-tools {
    height: 2.2rem;
    background: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11501;
    .select-switch {
        width: 33.3%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
        color: $ui-color-dark1;
        i {
            margin-top: -.4rem;
            margin-left: .4rem;
        }
        span {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px #ddd solid;
        }
        .isopen {
            transform: rotateX(180deg);
            margin-top: 0;
        }
    }
}

.find-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.2rem;
    // margin-bottom: 2.2rem;
    background: white;
    .find-list {
        width: 33.3%;
        height: 11.5rem;
        font-size: .6rem;
        border-right: 1px white solid;
        .imgbox {
            overflow: hidden;
            position: relative;
            img {
                height: 172px;
            }
            .status {
                @include name-background;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                color: white;
                padding: .2rem .4rem;
            }
        }
        .name {
            color: $ui-color-dark1;
            padding: 8px;
            margin: 0;
            height: 2rem;
            @include text-clamp(2);
        }
    }
}

// reset picker
.picker-modal {
    bottom: auto;
    top: 2.2rem;
    transform: translate3d(0, -100%, 0) !important;
    background: white;
    &.modal-in {
        transform: translate3d(0, 0, 0) !important;
    }
    &.modal-out {
        transform: translate3d(0, -100%, 0) !important;
    }
}

.picker-items-col {
    width: 100%;
}

.picker-item {
    font-size: .7rem;
}

.picker-columns {
    height: 8rem;
}

.picker-selected {
    color: $ui-color !important;
}

.find-select {
    display: none;
}
