@import "./layout/public.scss";
@mixin splitline ($removelast: false) {
    padding-bottom: .8rem;
    border-bottom: 1px solid #ddd;
    @if $removelast==true {
        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }
}

.content-title {
    font-size: .7rem;
    text-align: left;
    margin: 0;
    padding: 15px 0;
}

.board {
    background: #fff;
    box-shadow: 0 1px 1px rgba($color: black, $alpha: 0.03);
    margin: 0;
    margin-bottom: 16px;
    padding: 0 16px 16px;
}

.center-tab {
    justify-content: center;
    align-items: center;
    .tab-link {
        width: 68px !important;
        color: $ui-color-dark3;
    }
    .search-open {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 12px;
        color: $ui-color;
        border: 0;
        background: transparent;
        font-size: 1rem;
        padding: 0 8px;
        display: flex;
        align-items: center;
    }
}


.swiper-container {
    min-height: rem(250px);
    .swiper-slide {
        img {
            width: 100%;
        }
    }
}

.search-tools {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 44px;
    transition: .3s;
    overflow: hidden;
    &.search-outside{//首页上的search
        padding-left: 12px;
    }
    input {
        flex-grow: 1;
        border-radius: 4px;
        background: rgba($color: black, $alpha: .08);
        font-size: .6rem;
        border: 0;
        padding: 8px;
    }
    .btn {
        padding: 6px 12px;
    }
    .search-btn {
        font-size: .7rem;
        color: $ui-color;
        width: auto !important;
    }
}

.search-list {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 !important;

    background: url('../images/empty_mov.png') no-repeat;
    background-position: center;
    background-size: 205px 168px;
    ul {
        background: white;
        min-height: 100%;
        padding: 0 16px;
    }
}
.search-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white ;
    box-sizing: 0 1px 1px rgba($color: black, $alpha: .1);
}

.buttons-tab {
    // 首页上的搜索
    .search-tools {
        position: absolute;
        background: #eee;
        right: 0;
        top: 44px;
        z-index: 10;
        opacity: 0;
        width: 0;
        &.search-show {
            opacity: 1 !important;
            width: 100% !important;
        }
    }
}

#index-default {
    .movlist {
        margin-bottom: 2.5rem;
    }
}

#page-search {
    .board {
        padding-top: 2.5rem;
    }
}

// 图片盒
.imgbox {
    overflow: hidden;
    position: relative;
    // img的自适应将每个最长的一边设置为100%即可
}

// 精品推荐
.recommended-1 {
    padding-bottom: 16px;
    padding-right: 0;
    .list {
        white-space: nowrap;
        display: block;
        overflow: auto;
        li {
            width: 80px;
            display: inline-block;
            overflow: hidden;
            margin-right: 10px;
            position: relative;
            a {
                position: relative;
            }
            img {
                height: 112px;
            }
            .name {
                font-size: .6rem;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0;
                color: #fff;
                @include name-background;
            }
            .text {
                display: block;
                font-size: .6rem;
                margin: 0;
                color: #000;
                @include text-clamp(2);
            }
        }
    }
}

// 主打推荐
.recommended-2 {
    .content-text {
        font-size: .6rem;
    }
    .box1 {
        display: block;
        color: $ui-color-dark1;
        @include splitline;
        .imgbox {
            height: 114px;
            img {
                width: 100%;
            }
        }
        .content-text {
            color: $ui-color-dark2;
            @include text-clamp(3);
        }
    }
    .box2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        li {
            width: 48%;
            overflow: hidden;
        }
        .imgbox {
            height: 92px;
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                color: #fff;
                font-size: .6rem;
                margin: 0;
                padding: 4px;
                @include name-background;
            }
            img {
                width: 100%;
            }
        }
        .content-text {
            color: $ui-color-dark1;
            @include text-clamp(1);
            padding-top: .6rem;
        }
    }
}

// 今日热门
.movlist {
    li {
        padding-top: .6rem;
        @include splitline(true);
    }
    .flexlist {
        display: flex;
        height: 112px;
        justify-content: space-between;
        line-height: .9rem;
        &:last-of-type {
            border: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .imgbox {
            height: 100%;
            width: 22%;
            img {
                height: 100%;
            }
        }
        .info {
            width: 75%;
            .t {
                margin: 0;
                font-size: .8rem;
                color: $ui-color-dark1;
                .index {
                    color: $ui-color;
                    margin-right: 8px;
                }
            }
            .text {
                font-size: .6rem;
                margin: .4rem 0;
                color: $ui-color-dark2;
            }
            .text2 {
                font-size: .6rem;
                color: $ui-color;
            }
        }
    }
}

// 排行
.ranking {
    padding-top: 8px;
    .button-group {
        $radius: 5px;
        border: 1px solid $ui-color;
        border-radius: $radius;
        height: 28px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        >* {
            font-size: .6rem;
            flex-grow: 1;
            line-height: 28px;
            text-align: center;
            border: 0;
            padding: 0;
            margin: 0;
            color: $ui-color;
            background: #fff;
            display: block;
            cursor: pointer;
            &:first-of-type {
                border-radius: $radius 0 0 $radius;
            }
            &:last-of-type {
                border-radius: 0 $radius $radius 0;
            }
        }
        .active {
            background: $ui-color;
            color: #fff;
        }
    }
}