@import "./layout/public.scss";
// 关于rem
// 12px = .6rem
// 14px = .7rem
// 16px = .8rem
// 18px = .9rem
// 20px = 1rem
// reset sui
body {
    font-family: 'PingFangSC-Regular';
    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color: black, $alpha: .5);
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
        .msg {
            color: white;
            padding: .8rem;
            background: rgba($color: black, $alpha: .8);
            width: 60%;
            border-radius: 4px;
            line-height: .8rem;
            .msg-title {
                font-size: .7rem;
                text-align: center;
                margin: 0;
                margin-bottom: .4rem;
            }
            .msg-text {
                font-size: .6rem;
                margin: 0;
                text-align: center;
            }
        }
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.infinite-scroll-preloader {
    font-size: .6rem;
    color: $ui-color-dark3;
}

.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
    color: $ui-color;
}

.buttons-tab {
    .button.active {
        color: $ui-color-dark1;
        border-color: $ui-color;
    }
}

.button {
    color: $ui-color;
    border-color: $ui-color;
}

a {
    color: $ui-color;
    &:active {
        color: lighten($ui-color, 10%);
    }
}

// 操作表
.actions-modal-group {
    margin: 0;
    .actions-modal-button {
        line-height: 2.4rem;
        font-size: .7rem;
        color: $ui-color;
    }
}

// banner
.swiper-container {
    padding-bottom: 0;
}

// modal
.modal-button {
    color: $ui-color;
}

// ------ ui ------
.inithide {
    display: none !important;
}

// 底部navbar
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba($color: white, $alpha: .8);
    z-index: 1000;
    .tab-label {
        font-size: .5rem;
        display: block;
    }
}

// 分割线 - 用dom占位
.line {
    margin-left: rem(16px);
    width: 100%;
    height: 1px;
    background: #ddd;
}

// 分割线 - 伪元素
.splitline{
    position: relative;
    border-bottom: 0;
    &:after{
        content: '';
        position: absolute;
        left: rem(14px);
        right: 0;
        bottom: 0;
        height: 1px;
        background: #ddd;
    }
}

// 复选框
.checkbox {
    // <label class="checkbox">
    //     <input id="selectAll" type="checkbox">
    //     <label for="selectAll"></label>
    //     <span class="labelName">全选</span>
    // </label>
    $size: rem(18px);
    display: flex;
    input {
        display: none;
        &:checked {
            &+label {
                border: 0;
                font-size: $size;
                &:after {
                    content: "\f058";
                    color: $ui-color;
                }
            }
        }
    }
    label {
        width: $size;
        height: $size;
        border-radius: 50%;
        border: 1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .labelName{
        font-size: rem(14px);
        padding-left: rem(8px);
    }
}

// 售价符号
.price {
    &:before {
        content: '¥'
    }
}

// 浮动
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clear {
    clear: both;
}

// banner
.swiper-container {
    .swiper-pagination-bullet {
        width: 16px;
        height: 2px;
        background: #fff;
        opacity: .5;
        border-radius: 100px;
    }
    .swiper-pagination-bullet-active {
        width: 24px;
        opacity: 1;
    }
}